.recommendations-container {
    padding: 1.5rem;
}

.recommendations-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.recommendations-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .recommendations-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .recommendations-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.card {
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-container {
    position: relative;
    height: 12rem;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 1px solid #e5e7eb;
}

.card-badge {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: #3b82f6;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
}

.card-header {
    padding: 1rem;
}

.card-title {
    font-size: 1.125rem;
    font-weight: bold;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-stars {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #f59e0b;
}

.card-content {
    padding: 1rem;
}

.card-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;
    color: #6b7280;
}

.card-info-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.card-amenities {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.card-amenity-badge {
    border: 1px solid #d1d5db;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #e5e7eb;
}

.card-price {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-view-details {
    cursor: pointer;
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    transition: background-color 0.2s;
}

.card-view-details:hover {
    background-color: #bfdbfe;
}
.update-preference{

    text-decoration: none;
    color: #3b82f6;
    font-size: 1rem;
    font-weight: bold;

}