.home-header-border {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/Hero/hero.avif") center/cover no-repeat;
}

.home-header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 10;
}

.header-home-config ul {
  font-family: var(--primary-font);
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.header-home-config li {
  color: white;
  font-weight: 500;
}

.header-home-config ul li:last-child {
  color: rgba(255, 255, 255, 0.7);
}

.header-hero {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  text-align: center;
}

.hero-text {
  font-family: var(--primary-font);
  color: rgb(226, 226, 226);
  font-weight: 550;
  font-size: 2.5rem;
  /* animation: glow 1000ms ease infinite alternate; */
}

/* .deepshadow {
  color: #fff;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
    0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
} */

.variety-icons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1300px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 1rem;
}
